@charset "UTF-8";
/*---------------ai----------------------*/
@import url(common.css);
@import url(pm.css);
/*-----------ai-banner  start---------*/
.ai-banner {
  background: url("../img/ai/banner-ai.png") no-repeat center top;
}

.banner-pone.ai-pone {
  font-size: 50px;
  font-weight: bold;
}

.banner-ptwo.ai-ptwo {
  color: #dfe4ff;
  font-size: 30px;
}

.banner-pthree.ai-pthree {
  color: #dfe4ff;
  width: 300px;
  span {
    font-size: 20px;
  }
}

.banner-pfour.ai-pfour a {
  color: #dfe4ff;
  border: 1px solid #dfe4ff;
  &:hover {
    border: 1px solid #fff;
    background-color: transparent;
    color: #FFF;
  }
}

.banner-pfour.ai-pfour {
  .banner-pfour-two {
    color: #3a5ee2;
    background-color: #FFF;
    border: 1px solid #FFF;
  }
}

/*-----------ai-banner  end---------*/
/*------------ai--tab-menu-------*/
.ai-tab-top {
  .tab-item {
    border-color: #3a5ee2;
    &:hover {
      border-color: #3a5ee2;
      color: #3a5ee2;
      b {
        color: #3a5ee2;
      }
    }
  }
  .active {
    color: #3a5ee2;
  }
}

/*----------ai-main   start----------*/

@mixin button-rg {
  width: 280px;
  height: 56px;
  background-color: #3a5ee2;
  color: #ffffff;
  margin: auto;
  border-radius: 60px;
  font-size: 20px;
  border: 1px solid #3a5ee2;
  box-shadow: 0 0 10px #3a5ee2;
  cursor: pointer;
  transition: all .6s;
  -webkit-transition: all .6s;
  &:hover {
    color: #3a5ee2;
    background-color: #ffffff;
  }
}

/*                    rg-column                      */
.column-content-rg {
  width: 1200px;
  margin: auto;
  padding-top: 45px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.cc-rg-one {
  width: 370px;
  height: 420px;
  box-shadow: 0 0 15px rgba(58, 94, 226, 0.43);
  transition: all .4s;
  -webkit-transition: all .4s;
  .cc-rg-img {
    height: 220px;
    display: flex;
    display: -webkit-flex;
    img {
      margin: auto;
    }
  }
  .column-rg-p {
    padding: 0 60px;
    overflow: hidden;
    .p-3 {
      font-size: 22px;
      text-align: center;
      line-height: 1.5;
    }
    .p-2 {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  &:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    -moz-transform: scale(1.05); /* Firefox */
    -webkit-transform: scale(1.05); /* Safari and Chrome */
    -o-transform: scale(1.05); /* Opera */
  }
}

.bc-rg {
  @include button-rg;
}

/*                    rg-msg                      */
.msg-top-rg {
  text-align: center;
  padding: 40px 0 60px;
}

.msg-middle {
  width: 1200px;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  padding-bottom: 40px;
}

.msg-one {
  width: 200px;
  margin: 0 20px;
}

.msg-1 {
  width: 180px;
  height: 180px;
  border: 2px solid #e6ebfd;
  border-radius: 100px;
  display: flex;
  display: -webkit-flex;
  margin: auto;
  .iconfont {
    margin: auto;
    font-size: 70px;
    color: #3a5ee2;
  }
  &:hover {
    background: #3a5ee2;
    .iconfont {
      color: #ffffff;
    }
  }
}

.msg-2 {
  color: #333333;
  font-size: 18px;
  text-align: center;
  padding: 40px 0;
}

/*                    rg-tips                      */
.tips-rg {
  background: #f9f9f9;
}

.tips-top {
  padding: 53px 0;
  text-align: center;
}

.tips-middle {
  width: 1200px;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  padding-bottom: 80px;
  text-align: center;
}

.tips-one {
  width: 900px;
  overflow: hidden;
}

.tips-nice {
  height: 480px;
}

.tips-1 {
  width: 290px;
  margin: 0 5px;
  background: #ffffff;
  height: 470px;
  float: left;
}

.tips-text-1 {
  height: 160px;
  h3 {
    padding: 15px 0;
  }
}

.tips-2 {
  height: 220px;
  background: #ffffff;
  overflow: hidden;
  .tips-text-2 {
    height: 220px;
  }
}

.tips-left {
  float: left;
  width: 290px;
}

.tips-right {
  float: right;
}

.tips-two {
  width: 290px;
  background: #ffffff;
}

.tips-text-2 {
  height: 230px;
  h3 {
    padding: 30px 0;
  }
}

.p-8 {
  font-size: 14px;
  color: #888888;
  line-height: 1.5;
}

.tips-p {
  height: 115px;
  margin: 20px 33px;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tips-p-1 {
  height: 165px;
  margin: 0 32px;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*                    rg-salary                      */
.salary-img-rg {
  padding-top: 100px;
  padding-left: 150px;
}

/*                    rg-news                      */
.news-rg {
  background: url("../img/ai/ai-news.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}

.pc-footed {
  a {
    color: #3a5ee2;
    background-color: #ffffff;
    &:hover {
      background-color: #0d102f;
      color: #ffffff;
    }
  }
}

.dot-knot-py {
  span {
    background-color: #3a5ee2;
  }
  .pc-dot-span {
    border: 1px solid #3a5ee2;
    background-color: #ffffff;
  }
}

/*                    rg-main                      */
.li-rg {
  &:hover {
    background-color: #3a5ee2;
    color: #ffffff;
  }
}

/*----------ai-main   end----------*/

/*----------ai-footer start----------*/
/*--------btn--style------*/
.ask-service.ai-btn1.btn {
  background-color: #3a5ee2;
}

/*--------tactic-partner--*/
.ai-tactic-partner.tactic-partner {
  background: url("../img/ai/rg-footer-banner-ai.png") no-repeat center top;
  .content-txt.ai-content-txt {
    color: #9da1af;
  }
  .tip {
    color: transparent;
    border-color: #9da1af;
  }
}

/*--------ai  login-name--*/
.ask-service.ai-btn {
  &:hover {
    background-color: #FFF;
    color: #002650;
    border-color: #002650;
  }
}

/*------ai copy-right------*/
.copy-right.ai-copy-right {
  background-color: #a8b1b6;
  border-color: #d6dcdb;
  .pic-r.ai-pic-r {
    .pic-r-l.ai-txt {
      color: #d6dcdb;
    }
  }
}

/*----------ai-footer end----------*/
/*course*/
.ai-bg {
  color: #ffffff;
  background: #3a5ee2;
  box-shadow: 0 0 30px 1px #3a5ee2;
}

.item h3:before {
  border-bottom-color: #3a5ee2;
}

.item h3:after {
  border-top-color: #3a5ee2;
}

.ai-text {
  color: #3a5ee2;
}

.ai-color {
  color: #3a5ee2;
}

.ai-list-bg {
  background: #f5f8ff;
  .ai-list {
    span {
      color: #3a5ee2;
    }
    h4 {
      color: #000000;
    }
    li {
      color: #6d6d6d;
    }
  }
  &:hover {
    background: #3a5ee2;
    span, h4 {
      color: #f9f9f9;
    }
    li {
      color: #ffffff;
    }
  }
}

/*comment*/

.ai-item-bg {
  background: #f5f8ff;
  color: #6d6d6d;
  &:hover {
    background: #3a5ee2;
    color: #fff8f0;
  }
}

.ai-item2-bg {
  background: #f5f8ff;
  color: #3a5ee2;
  &:hover {
    background: #3a5ee2;
    color: #fff8f0;
  }
}
.ai-reply-color{
  background: #d1e3f1;
  opacity: .6;
  color: #6d6d6d;
  span {
    color: #3a5ee2;
  }


}