@charset "UTF-8";
@import url(common.css);
@import url(pm.css);
/*--------------operation--------------------*/
/*-----------header-banner   start---------*/
.operation-pc{
  background: url("../img/op/banner-oper.png") no-repeat center top;
}
/*-----------header-banner   end-----------*/
/*-----------operation-main   start---------*/
@mixin button-op{
  width: 280px;
  height: 56px;
  background-color: #3167f4;
  color: #ffffff;
  margin: auto;
  border-radius: 60px;
  font-size: 20px;
  border: 1px solid #3167f4;
  box-shadow:0 0 10px #3167f4;
  cursor: pointer;
  transition: all .6s;
  -webkit-transition: all .6s;
  &:hover{
    color: #3167f4;
    background-color: #ffffff;
  }
}
/*                    op-column                      */
.column-content-op{
  width: 1200px;
  padding-top: 35px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.cc-one-op{
  width: 370px;
  margin: 5px 10px;
  height: 420px;
  box-shadow: 0 0 15px #b5befe;
  transition: all .4s;
  -webkit-transition: all .4s;
  .column-img-op{
    height: 260px;
    display: flex;
    display: -webkit-flex;
    img{
      margin: auto;
    }
  }
  &:hover{
    transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */
  }
  .p-2{
    text-align: left;
    line-height: 1.5;
  }
}
.column-p-op{
  width: 310px;
  margin: auto;
  text-align: center;
  .p-3{
    font-size: 22px;
  }
}
.bg-op{
  @include button-op;
}
/*                    op-salary                      */
.salary-img-op{
  padding-top: 100px;
  padding-left: 150px;
}
/*                    op-logo                      */
.logo-op{
  padding: 55px 0;
}
.logo-one{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  color: #bbb;
}
.logo-tow{
  margin-top: -61px;
}
.box{
  margin: 0 10px;
}
.box1{
  width:0;
  border-left: 141px solid transparent;
  border-right: 141px solid transparent;
  border-bottom: 80px solid #fff;
}
.box2{
  width: 283px;
  height: 170px;
  background-color: #fff;
  padding: 0 37px;
}
.box3{
  width:0;
  border-top: 80px solid #fff;
  border-left: 141px solid transparent;
  border-right: 141px solid transparent;
}
.logo-img{
  height: 90px;
  display: flex;
  display: -webkit-flex;
  .iconfont{
    margin: auto;
    font-size: 70px;
  }
}
.logo-p{
  text-align: center;
  h6{
    font-size: 20px;
    line-height: 48px;
    color: #333333;
  }
  p{
    font-size: 14px;
    line-height: 1.5;
  }
}
.box:hover{
  .box1{
    border-left: 141px solid transparent;
    border-right: 141px solid transparent;
    border-bottom: 80px solid #3167f4;
  }
  .box2{
    background-color: #3167f4;
  }
  .box3{
    border-top: 80px solid #3167f4;
    border-left: 141px solid transparent;
    border-right: 141px solid transparent;
  }
  h6{
    color: #ffffff;
  }
  p{
    color: #ffffff;
  }
  .iconfont{
    color: #ffffff;
  }
}
/*                    op-news                      */
.news-op{
  background: url("../img/op/op-news.png") no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}
.pc-footed{
  a{
    color: #3167f4;
    background-color: #ffffff;
    &:hover{
      background-color: #3167f4;
      color: #ffffff;
    }
  }
}
.dot-knot-py{
  span{
    background-color: #3167f4;
  }
  .pc-dot-span{
    border: 1px solid #3167f4;
    background-color: #ffffff;
  }
}
/*                    op-salary                      */
.li-op{
  &:hover{
    background-color: #3167f4;
    color: #ffffff;
  }
}
/*-----------operation-main   end---------*/
/*-----------footer--------*/
.copy-right.op-copy-right{
  border-color: #dbdbdb;
  background-color: #a8b1b6;;
.pic-r-l.op-txt{
    color: #dadbdc;
  }
}
.op-copy-bg{
  background-color: transparent;
  border-color: gainsboro;
  margin-top: 50px;
  .op-txt.pic-r-l{
    color: gainsboro;
  }
}
/*course*/
.op-bg{
  color: #ffffff;
  background: #3167f4;
  box-shadow: 0 0 30px 1px #3167f4;
}

.item h3:before{
  border-bottom-color: #3167f4;
}
.item h3:after{
  border-top-color: #3167f4;
}
.op-text{
  color: #3167f4;
}
.op-color{
  color: #3167f4;
}
.op-list-bg{
  background: #f5f8ff;
  .op-list{
    span{
      color: #3167f4;
    }
    h4{
      color: #000000;
    }
    li{
      color: #6d6d6d;
    }
  }
  &:hover{
    background: #3167f4;
    span,h4{
      color: #f9f9f9;
    }
    li{
      color: #ffffff;
    }
  }
}
/*comment*/

.op-item-bg{
  background: #f5f8ff;
  color: #6d6d6d;
  &:hover{
    background: #3167f4;
    color: #fff8f0;
  }
}
.op-item2-bg{
  background:#f5f8ff;
  color: #3167f4;
  &:hover{
    background: #3167f4;
    color: #fff8f0;
  }
}

.op-reply-color{
  background: #e1e8f9;
  opacity: .6;
  color: #6d6d6d;
  span {
    color: #3167f4;
  }
}
