@charset "UTF-8";
@import url(common.css);
@import url(pm.css);
/*------ui-heade   start----------*/
/*------banner-------*/
.ui-banner {
  background: url("../img/ui/banner-ui.png") no-repeat center top;
}

.ui-banner-wrap {
  .banner-pone {
    font-size: 50px;
    font-weight: bold;
  }
  .banner-ptwo {
    font-size: 38.59px;
    color: #FFF;
    margin: 20px 0 55px 0;
  }
  .banner-pthree {
    width: 505px;
    margin-bottom: 60px;
    span {
      color: #FFF;
      font-size: 20px;
    }
  }
  .banner-pfour {
    .banner-pfour-one.ui-one {
      width: 167px;
      height: 56px;
      line-height: 50px;
      &:hover {
        background-color: #FFF;
        border: 2px solid #01b5a6;
        color: #01b5a6;
        transition: all .4s;
      }
    }
    .banner-pfour-two.ui-two {
      width: 167px;
      height: 56px;
      border: 1px solid #FFF;
      line-height: 56px;
      background-color: #FFF;
      color: #01b5a6;
    }
  }
}

/*------ui-heade   end------------*/
/*------ui-tab-menu---------------*/
.ui-tab-top {
  .tab-item {
    border-color: #14ddab;
    &:hover {
      border-color: #14ddab;
      color: #14ddab;
      b {
        color: #14ddab;
      }
    }
  }
  .active {
    color: #14ddab;
  }
}

/*------ui-main    start----------*/
@mixin button {
  background-color: #14ddab;
  color: #ffffff;
  margin: auto;
  border-radius: 60px;
  font-size: 20px;
  border: 1px solid #14ddab;
  cursor: pointer;
  transition: all 0.6s;
  -webkit-transition: all .6s;
  &:hover {
    color: #14ddab;
    background-color: #ffffff;
  }
}

/*                    ul-title                      */
.title-border-ul {
  border-bottom: 2px solid #14ddab;
}

/*                    ul-column                      */
.column-content-ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.column-left-ul {
  width: 370px;
  height: 420px;
  box-shadow: 0 0 15px rgba(112, 255, 219, 0.45);
  transition: all .4s;
  -webkit-transition: all .4s;
  .column-img-ul {
    height: 260px;
    display: flex;
    display: -webkit-flex;
    img {
      margin: auto;
    }
  }
  .column-p-ul {
    width: 310px;
    margin: auto;
    .p-3 {
      font-size: 22px;
      text-align: center;
    }
    .p-2{
      line-height: 1.5;
    }
  }
  &:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    -moz-transform: scale(1.05); /* Firefox */
    -webkit-transform: scale(1.05); /* Safari and Chrome */
    -o-transform: scale(1.05); /* Opera */
  }
}

.button-column-ul {
  width: 280px;
  height: 56px;
  @include button;
}

/*                    ul-logo                      */
.logo-ul {
  background-color: #f7f7f7;
}

.logo-ppt-ul {
  width: 1100px;
  height: 500px;
  margin: auto;
  position: relative;
  background: url("../img/ui/circle.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.logo-0 {
  width: 30px;
  height: 30px;
  background: -ms-linear-gradient(top, #fff, #14ddac);
  background: -moz-linear-gradient(top, #fff, #14ddac);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#14ddac));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#14ddac));
  background: -webkit-linear-gradient(top, #fff, #14ddac);
  background: -o-linear-gradient(top, #fff, #14ddac);
  color: #ffffff;
  position: absolute;
  border-radius: 100px;
  display: flex;
  display: -webkit-flex;
  top: 360px;
  left: 260px;
  transition: all .4s;
  -webkit-transition: all .4s;
  &:hover {
    transform: scale(1.3);
    -ms-transform: scale(1.3); /* IE 9 */
    -moz-transform: scale(1.3); /* Firefox */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
  }
}
.logo-1 {
  width: 100px;
  height: 100px;
  background: -ms-linear-gradient(top, #fff, #14ddac);
  background: -moz-linear-gradient(top, #fff, #14ddac);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#14ddac));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#14ddac));
  background: -webkit-linear-gradient(top, #fff, #14ddac);
  background: -o-linear-gradient(top, #fff, #14ddac);
  color: #ffffff;
  position: absolute;
  border-radius: 100px;
  display: flex;
  display: -webkit-flex;
  top: 112px;
  left: 636px;
  transition: all .4s;
  -webkit-transition: all .4s;
  h3 {
    margin: auto;
  }
  &:hover {
    transform: scale(1.3);
    -ms-transform: scale(1.3); /* IE 9 */
    -moz-transform: scale(1.3); /* Firefox */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
  }
}

.logo-2 {
  width: 100px;
  height: 100px;
  background: -ms-linear-gradient(top, #18fcfe, #15cfd2);
  background: -moz-linear-gradient(top, #18fcfe, #15cfd2);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18fcfe), to(#15cfd2));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18fcfe), to(#15cfd2));
  background: -webkit-linear-gradient(top, #18fcfe, #15cfd2);
  background: -o-linear-gradient(top, #18fcfe, #15cfd2);
  color: #ffffff;
  position: absolute;
  border-radius: 100px;
  display: flex;
  display: -webkit-flex;
  top: 236px;
  left: 181px;
  transition: all .4s;
  -webkit-transition: all .4s;
  h3 {
    margin: auto;
  }
  &:hover {
    transform: scale(1.3);
    -ms-transform: scale(1.3); /* IE 9 */
    -moz-transform: scale(1.3); /* Firefox */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
  }
}

.logo-3 {
  width: 70px;
  height: 70px;
  background: -ms-linear-gradient(top, #b6ffb9, #14ddac);
  background: -moz-linear-gradient(top, #b6ffb9, #14ddac);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b6ffb9), to(#14ddac));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b6ffb9), to(#14ddac));
  background: -webkit-linear-gradient(top, #b6ffb9, #14ddac);
  background: -o-linear-gradient(top, #b6ffb9, #14ddac);
  color: #ffffff;
  position: absolute;
  border-radius: 100px;
  display: flex;
  display: -webkit-flex;
  top: 138px;
  left: 347px;
  transition: all .4s;
  -webkit-transition: all .4s;
  h3 {
    margin: auto;
  }
  &:hover {
    transform: scale(1.3);
    -ms-transform: scale(1.3); /* IE 9 */
    -moz-transform: scale(1.3); /* Firefox */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
  }
}

.logo-4 {
  width: 100px;
  height: 100px;
  background: -ms-linear-gradient(top, #18fcfe, #15cfd2);
  background: -moz-linear-gradient(top, #18fcfe, #15cfd2);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18fcfe), to(#15cfd2));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18fcfe), to(#15cfd2));
  background: -webkit-linear-gradient(top, #18fcfe, #15cfd2);
  background: -o-linear-gradient(top, #18fcfe, #15cfd2);
  color: #ffffff;
  position: absolute;
  border-radius: 100px;
  display: flex;
  display: -webkit-flex;
  top: 322px;
  left: 808px;
  transition: all .4s;
  -webkit-transition: all .4s;
  h3 {
    margin: auto;
  }
  &:hover {
    transform: scale(1.3);
    -ms-transform: scale(1.3); /* IE 9 */
    -moz-transform: scale(1.3); /* Firefox */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
  }
}

.logo-5 {
  width: 80px;
  height: 80px;
  background: -ms-linear-gradient(top, #fff, #14ddac);
  background: -moz-linear-gradient(top, #fff, #14ddac);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#14ddac));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#14ddac));
  background: -webkit-linear-gradient(top, #fff, #14ddac);
  background: -o-linear-gradient(top, #fff, #14ddac);
  color: #ffffff;
  position: absolute;
  border-radius: 100px;
  display: flex;
  display: -webkit-flex;
  top: 345px;
  left: 345px;
  transition: all .4s;
  -webkit-transition: all .4s;
  h3 {
    margin: auto;
  }
  &:hover {
    transform: scale(1.3);
    -ms-transform: scale(1.3); /* IE 9 */
    -moz-transform: scale(1.3); /* Firefox */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
  }
}

.logo-6 {
  width: 150px;
  height: 150px;
  background: -ms-linear-gradient(top, #b6ffb9, #14ddac);
  background: -moz-linear-gradient(top, #b6ffb9, #14ddac);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b6ffb9), to(#14ddac));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b6ffb9), to(#14ddac));
  background: -webkit-linear-gradient(top, #b6ffb9, #14ddac);
  background: -o-linear-gradient(top, #b6ffb9, #14ddac);
  color: #ffffff;
  position: absolute;
  border-radius: 100px;
  display: flex;
  display: -webkit-flex;
  top: 267px;
  left: 473px;
  transition: all .4s;
  -webkit-transition: all .4s;
  h3 {
    margin: auto;
    font-size: 40px;
  }
  &:hover {
    transform: scale(1.3);
    -ms-transform: scale(1.3); /* IE 9 */
    -moz-transform: scale(1.3); /* Firefox */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
  }
}

.logo-7 {
  width: 100px;
  height: 100px;
  background: -ms-linear-gradient(top, #b6ffb9, #14ddac);
  background: -moz-linear-gradient(top, #b6ffb9, #14ddac);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b6ffb9), to(#14ddac));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b6ffb9), to(#14ddac));
  background: -webkit-linear-gradient(top, #b6ffb9, #14ddac);
  background: -o-linear-gradient(top, #b6ffb9, #14ddac);
  color: #ffffff;
  position: absolute;
  border-radius: 100px;
  display: flex;
  display: -webkit-flex;
  top: 148px;
  left: 463px;
  transition: all .4s;
  -webkit-transition: all .4s;
  h3 {
    margin: auto;
  }
  &:hover {
    transform: scale(1.3);
    -ms-transform: scale(1.3); /* IE 9 */
    -moz-transform: scale(1.3); /* Firefox */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
  }
}

.logo-8 {
  width: 100px;
  height: 100px;
  background: -ms-linear-gradient(top, aqua, yellow);
  background: -moz-linear-gradient(top, aqua, yellow);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(aqua), to(yellow));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(aqua), to(yellow));
  background: -webkit-linear-gradient(top, aqua, yellow);
  background: -o-linear-gradient(top, aqua, yellow);
  color: #ffffff;
  position: absolute;
  border-radius: 100px;
  display: flex;
  display: -webkit-flex;
  top: 200px;
  left: 854px;
  transition: all .4s;
  -webkit-transition: all .4s;
  h3 {
    margin: auto;
    font-size: 38px;
  }
  &:hover {
    transform: scale(1.3);
    -ms-transform: scale(1.3); /* IE 9 */
    -moz-transform: scale(1.3); /* Firefox */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
  }
}

.logo-9 {
  width: 100px;
  height: 100px;
  background: -ms-linear-gradient(top, aqua, yellow);
  background: -moz-linear-gradient(top, aqua, yellow);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(aqua), to(yellow));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(aqua), to(yellow));
  background: -webkit-linear-gradient(top, aqua, yellow);
  background: -o-linear-gradient(top, aqua, yellow);
  color: #ffffff;
  position: absolute;
  border-radius: 100px;
  display: flex;
  display: -webkit-flex;
  top: 351px;
  left: 661px;
  transition: all .4s;
  -webkit-transition: all .4s;
  h3 {
    margin: auto;
  }
  &:hover {
    transform: scale(1.3);
    -ms-transform: scale(1.3); /* IE 9 */
    -moz-transform: scale(1.3); /* Firefox */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
  }
}

/*                    ul-hot                      */
.button-hot-ul {
  @include button;
  width: 280px;
  height: 56px;
}

/*                    ul-news                      */
.news-ul {
  background: url("../img/ui/ui-news.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}

.pc-footed {
  a {
    color: #14ddab;
    background-color: #ffffff;
    &:hover {
      background-color: #14ddab;
      color: #ffffff;
    }
  }
}

.dot-knot-py {
  span {
    background-color: #14ddab;
  }
  .pc-dot-span {
    border: 1px solid #14ddab;
    background-color: #ffffff;
  }
}

/*                    ul-main                      */
.li-ul {
  &:hover {
    background-color: #14ddab;
    color: #ffffff;
  }
}

.button-main-ul {
  width: 280px;
  height: 56px;
  background-color: #14ddab;
  color: #ffffff;
  font-size: 20px;
  margin: auto;
  cursor: pointer;
  border-radius: 50px;
  transition: all .6s;
  -webkit-transition: all .6s;
  &:hover {
    background-color: rgba(12, 251, 197, 0.74);
  }
}

/*                    ul-list                      */
.list-ul {
  background-color: #f4f4f4;
  .list-top-ul {
    width: 1200px;
    margin: 0 auto;
    padding: 59px 0 50px;
    text-align: center;
  }
}

.list-meddle-ul {
  width: 1200px;
  margin: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.list-one-ul {
  width: 290px;
  height: 1050px;
  margin: 5px;
}

.list-1-ul {
  margin-bottom: 15px;
  transition: all .4s;
  -webkit-transition: all .4s;
  &:hover {
    transform: translate(0, -4px);
    -ms-transform: translate(0, -4px); /* IE 9 */
    -moz-transform: translate(0, -4px); /* Firefox */
    -webkit-transform: translate(0, -4px); /* Safari and Chrome */
    -o-transform: translate(0, -4px); /* Opera */
  }
}

.list-2-ul {
  transition: all .4s;
  -webkit-transition: all .4s;
  &:hover {
    transform: translate(0, -4px);
    -ms-transform: translate(0, -4px); /* IE 9 */
    -moz-transform: translate(0, -4px); /* Firefox */
    -webkit-transform: translate(0, -4px); /* Safari and Chrome */
    -o-transform: translate(0, -4px); /* Opera */
  }
}

.list-footed-ul {
  box-shadow: 0 2px 18px rgba(28, 29, 29, 0.14);
  -webkit-box-shadow: 0 2px 18px rgba(28, 29, 29, 0.14);
  height: 40px;
  color: #666;
}

.p-6 {
  line-height: 40px;
  padding-left: 18px;
}

/*                    ul-menu                      */
.menu-ul {
  background: url("../img/ui/menu-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}

.vs-span-ul {
  color: #14ddab;
}

.button-menu-ul {
  border: 1px solid #ffffff;
  color: #14ddab;
  background-color: #ffffff;
  cursor: pointer;
  transition: all .8s;
  -webkit-transition: all .8s;
  &:hover {
    background-color: transparent;
    color: #ffffff;
  }
}

/*------ui-main    end----------*/

/*------ui-footer  start----------*/
.footer.ui-footer {
  /*------ask-service-----*/
  .ui-btn.ask-service {
    background-color: #14ddab;
    border: 1px solid #14ddab;
    box-shadow: none;
    &:hover {
      background-color: transparent;
      border: 1px solid #14ddab;
      color: #14ddab;
    }
  }
  /*------tactic-partner---*/
  .tactic-partner.ui-tactic-partner {
    background: url("../img/ui/footer-bg-ui.png") no-repeat center top;
    .ui-content-txt.content-txt {
      color: #a7f4e7;
    }
    .tactic-partner-tips.ui-tips li {
      color: #8af0de;
    }
    .tactic-partner-tips.ui-tips .tip {
      border-color: #8af0de;
      color: transparent;
    }
  }
  /*-----copy-right--------*/
  .ask-service.ui-btn.btn2 {
    background-color: #001009;
    border: 2px solid #FFF;
    &:hover {
      background-color: #FFF;
      border: 2px solid #FFF;
    }
  }
}

.ui-login-name {
  background-color: #111;
}

.ui-footer-copy.copy-right {
  background-color: #111;
}

.ui-copy-right {
  background-color: #a8b1b6;
  border-color: gainsboro;
  .pic-r-l.ui-txt {
    color: gainsboro;
  }
}

.ui-copy-bg {
  margin-top: 50px;
  background-color: transparent;
  border-color: gainsboro;
  .pic-r-l.op-txt {
    color: gainsboro;
  }
}

/*------ui-footer  end------------*/
//course and comment
/*course*/
.ui-bg {
  color: #ffffff;
  background: #14ddab;
  box-shadow: 0 0 30px 1px #14ddab;
}

.item h3:before {
  border-bottom-color: #14ddab;
}

.item h3:after {
  border-top-color: #14ddab;
}

.ui-text {
  color: #14ddab;
}

.ui-color {
  color: #14ddab;
}

.ui-list-bg {
  background: #eafffa;
  .ui-list {
    span {
      color: #14ddab;
    }
    h4 {
      color: #000000;
    }
    li {
      color: #6d6d6d;
    }
  }
  &:hover {
    background: #bbfdef;
  }
}

/*comment*/

.ui-item-bg {
  background: #eafffa;
  color: #6d6d6d;
  &:hover {
    background: #14ddab;
    color: #fff8f0;
  }
}

.ui-item2-bg {
  background: #eafffa;
  color: #14ddab;
  &:hover {
    background: #14ddab;
    color: #fff8f0;
  }
}
.ui-reply-color{
  background: #bff3e6;
  opacity: .6;
  color: #6d6d6d;
  span {
    color: #14ddab;
  }
}
