<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if&v-for</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
<div id="app-6">
    <div v-for="(todo,  index) of number"
         @:click="evenNumber"
         key="todo.id">
        {{todo.text}}-----{{todo.id}}
    </div>
    <div v-for="(item, key, index) of userInfo"
         @:click="evenNumber"
         key="item.id">
        {{item}}-----{{key}}-----{{index}}
    </div>
</div>


<script>
    var app6 = new Vue({
        el:'#app-6',
        data:{
            number:[{
                id:'1',
                text:'国家'
            },{
                id:'2',
                text:'民族'
            },{
                id:'3',
                text:'大张伟'
            }],
            userInfo:{
                name:'hq',
                age:'18',
                gender:'girl',
                salary:'secret'
            }
        },
        computed:{
            evenNumber: function(){
                return this.number.filter(function (todo){
                    return todo/2 ===2  //return 不起作用
                })
            }
        }
    })
</script>
</body>
</html>