/*通用样式*/
*{
    margin:0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
}
/*ie6兼容问题，图片外出现外边框*/
img{
    border: none;
}
/*为防止边缘图片下滑,定义*/
.mr_0{
    margin-right: 0;
}

/*table {*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0;*/
/*}*/

.l{float: left}
.r{float: right}
.wp{
    width: 960px;
    margin: 0 auto}

/*---------------------------------------------------*/
/*header*/
.top{
    width: 100%;
    height: 24px;
    line-height: 24px;
    background-color: #303030;
    color: #d8d8d8;
}
.top span{
    margin-right: 15px;
}
.top a{
    color: #d8d8d8;
    text-decoration: none;

}
.top a:hover{
    color: #f60;
}


/*搜索*/
.logos{
    margin: 15px 0;
    height: 59px;
    /*通过logo图片的高度定义局部高度*/
}
.research{
    width: 400px;
    height: 41px;
    margin-top: 8px
}
.research td{
    height: 41px;
}
.research-l{
    width: 6px;
    background:url("../images/s_z.jpg")no-repeat;
}
.research-m{
    width: 300px;
    background: url("../images/s_c.jpg")repeat-x;
}
.research-r{
    width: 78px;
    background: url("../images/s_r.jpg")no-repeat;
}
.research-input{
    margin-top: 2px;
    width: 298px;
    height: 35px;
}
.research-btn{
    background: none;
    border: 0;
    width: 78px;
    height: 41px;
    cursor: pointer;
}


/*客服*/
.custom-sever{
    font-size: 25px;
    height: 59px;
    line-height: 59px;
    color: darkred;
    margin-left: 20px;
}

/*导航*/
.nav{
    height: 39px;
    /*因为是通栏，所以宽度为100%；因为通栏里边的内容整体居中，所以要在nav内部写wp*/
    width: 100%;
    background: url("../images/nav_bg.jpg") repeat-x;
}
.nav ul{

}
.nav li{
    /*此处为什么不用margin，二用padding*/
    /*margin-right: 56px;*/
    padding: 0 28px;
    height: 39px;
    line-height: 39px;
    float: left;
}
.nav li a {
    color: #fff;
    /*font-size: ;*/

}
.nav .shadow,.nav li:hover{
    background: url("../images/nav_hover.jpg")repeat-x;
}

/*------中间内容------*/
/*简介*/
.ad{
    margin-bottom: 10px;
}
.tit{
    padding-bottom: 8px;
    border-bottom: 1px solid darkred;
    margin-bottom: 10px;
    position: relative;
}
/*为了让more一直在tit的右下角（相对于父元素的绝对定位）*/
.tit span{
    float: right;
    position: absolute;
    right: 0;
    bottom: 3px;
}
.intro{
    width: 540px;
    height: 400px;
    margin-right: 20px;
}
.intro-container img{
    float: left;/*用浮动做文字环绕*/
    margin: 0 10px 10px 0;

}
.intro-container p{
    text-indent: 24px;
    color: #616161;
    line-height: 24px;

}

/*新闻*/
.news{
    width: 400px;
    height: 360px;
}
.news-c li{
    height: 24px;
    line-height: 24px;
    padding-left: 15px;/*此处是内容之外的图标用padding，用margin就会使两者重叠*/
    background: url("../images/list_bg.jpg")no-repeat center left;/*上下居中，左对齐*/
    position: relative;
    margin-bottom: 6px;
}
.news-c li span{
    position: absolute;
    right: 0;
    bottom: 0;
}
.news-c li.fir{
    padding: 0;
    background: none;
    height: 100px;
}
.news-c li.fir p{
    font-size: 12px;
    text-indent: 24px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-c li img{
    float: left;
    margin: 0 8px 0 0;
}

.news-c li h3{
    font-weight:normal ;
    font-size: 14px;

}
.news-c a{
    color: #616161;
}


/*产品*/

.product{
    width: 100%;
    height: 280px;
}
.product li{
    float: left;
    margin: 0 8px 10px 0;
    width: 151px;
    height: 96px;
    overflow: hidden;
    position: relative;/*父元素正常定位*/
}
.product li span{
    display: none;/*正常看不见，只有在鼠标放上去时候才看得见，所以首先需要隐藏，hover时候显示*/
    position: absolute;
    bottom: 0;
    left: 0;
    height: 16px;
    width: 131px;/*与父元素保持一致，流出padding的大小*/
    padding: 0 10px;
    background-color: darkred;
    color: #fff;
    text-align: center;
    overflow: hidden;/*溢出部分隐藏*/
}
.product li a:hover span{/*hover时候显示谁就在hover后边写哪个标签，此处显示span*/
    display: block;
}


/*------footer--------*/
/*.footer:before{*/
    /*content: '';*/
    /*clear: both;*/
/*}*/
.footer{
    height: 103px;
    width: 100%;
    background: url("../images/footer_bg.jpg") repeat-x;
    position: relative;
}
.footer_top{
    /*padding: 10px;*/
    color: #fff;
    line-height: 82px;
    height: 85px;
}
.footer_top a,.footer_bottom span,.footer_bottom a{
    color: #fff;
}
/*用左右浮动代替padding-right: 109px;*/
/*.footer_top .f_t_l{*/
    /*padding-right: 109px;*/
/*}*/
.footer_bottom a{
    padding: 0 10px;
}

.footer_bottom p,.footer_bottom a:hover{
    color: #f60;

}

.share{
    position: fixed;
    bottom: 150px;
    right:60px;
}
/*.share-top{*/
    /*position: absolute;*/
    /*top:  0;*/
    /*left: 0;*/

/*}*/
/*.share-sina{*/
    /*position: absolute;*/
    /*top:  -50px;*/
    /*left: 0;*/
/*}*/
.share-tx{
    background-position: 0 -100px;
}
.share-wx{
    background-position: 0 -150px;
}
.share a{
    display: block;
    width: 40px;
    height: 53px;
    line-height: 999px;
    /*overflow: hidden;*/
     /*background: url("../images/top_tool.jpg") no-repeat;*/
}

.share {
    background: url("../images/top_tool.jpg") no-repeat;
}

