*{
    margin: 0;
    padding: 0;
}
.l{float: left}
.r{float: right}
.wp{
    width: 1113px;
    margin: 0 auto}
ol, ul {
    list-style: none;
}
body{
    background: url("images/bg.gif")repeat;
}
a{
    text-decoration: none;
}
/*----------------头部-------------------*/
.logos{
    height: 95px;
    position: relative;
}
.logo-l{
    /*position: absolute;*/
    /*bottom: 10px;*/
}
.logo-r{
    position: absolute;
    top:15px;
    right: 0;
}
.campany-name{
    position: absolute;
    top:25px;
    left: 111px;
    color: #C30;
    font:bold 20px/1.5em '黑体';
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

/*菜单导航*/
.nav{
    width: 100%;
    height: 44px;
    background: url("images/navbg.jpg")repeat-x;
}
.nav a{
    color: black;
}
/*一级菜单*/
.nav-1 li{
    float: left;
    margin-right: 16px;
    height: 44px;
    background: url("images/nav1.jpg")no-repeat center right;
    width: 95px;
    text-align: center;
    line-height: 44px;
    font-weight: bold;
    font-size: 16px;

}
.nav-2 li{
    border: 1px solid #960;
    width: 80px;
    line-height: 30px;
    font-size: 12px;
    background: pink;
    text-align: center;
}
.navbox2{
    position: relative;
}
.nav-2 {
    position: absolute;
    top: 0;
    left: 185px;
    display: none;
    z-index: 10000;
}
/*Banner*/
.bannerbox img{
    width:1113px;
    height: 388px;
}
.banner-par{
    position: relative;
    height: 388px;
}
.banner-page{
    position: absolute;
    right: 0px;
    bottom: 10px;
}
.banner-page span{
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1px solid #FFFFFF;
    text-align: center;
    color: #FFFFFF;

}

/*中间内容*/
/*中间内容上边*/
.middlebox{
    background: url("images/content_bg.jpg");
    height: 720px;

}
.midtop{
    height: 360px;
}
.midbottom{
    height: 320px;
}
.mid-up-l,.mid-up-r,.mid-up-m{
    margin-right:8px ;
    margin-left:8px ;
    border: 1px solid gainsboro;
    height: 345px;
}
.mid-b-l,.mb-l{
    width:315px;
}
.mid-up-r{
    width: 337px;
}
.mid-up-m{
    width: 397px;
}
.mid-top-tit{
    background: url("images/content_sm_bg.jpg");
    /*height: 336px;*/
    width:100%;
}
.mid-top-tit span{
    font: bold 18px "微软雅黑";
    line-height: 55px;
    color: #c60;
}
.tit-img{
    background: url("images/plus.jpg")no-repeat left center;
    margin-left: 20px;
    text-indent: 20px;
    display: inline-block;
    height: 15px;
    width: 15px;
}
.toplist-img{
    text-align: center;
    /*内容居中和盒子居中不能都用0 auto*/
    margin: 15px;
}
.toplist-l .company-news li{
    margin-left: 20px;
    font-size: 12px;
    color: #5d5a5a;
    line-height: 30px;
    background: url("images/triangle.jpg")no-repeat center left;
    text-indent: 20px;
    border-bottom: 1px dashed #5d5a5a;
}
.mid-up-m img{
    margin: 15px 25px;
}
.mid-up-m .campany-intro{
    margin: 10px 20px 20px;
    color: #5d5a5a;
    font-size: 12px;
    text-indent: 24px;
}
.toplist-l .companydetial li{
    margin-left: 25px;
    font-size: 12px;
    color: #5d5a5a;
    line-height: 30px;
    text-indent: 20px;
    border: none;
}

.mb-l{
    width: 752px;

}
.mb-video{
    margin: 25px 8px;
}

/*滚动效果内容部分*/
.mb-scroll{
    overflow: hidden;
    margin: 45px auto;

    height: 161px;
    width: 762px;
    line-height: 161px;

}


/*底部*/
.footerbox{
    height: 50px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}